@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "DotGothic16", sans-serif;
}
header {
  margin-bottom: 2px solid black;
  /* height: 10vh; */
}
.header-container {
  width: 75%;
  margin: 0 auto;
  padding: 0.8em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-left ul {
  display: flex;
  font-size: 1.5em;
}
.header-container .header-left ul li {
  margin-right: 1em;
}
section {
  display: flex;
}
section .section-left {
  width: 70vw;
  height: 95vh;
}
section .section-right {
  width: 30vw;
  height: 95vh;
  background-color: #f4f4f2;
  font-family: "PT Mono", monospace;
  position: relative;
}
.section-right-content {
  position: absolute;
  bottom: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.section-1-left {
  background-image: url("https://in.nothing.tech/cdn/shop/files/phone-2-launch_1292x.jpg?v=1689069054");
}
.section-2-left {
  background-image: url("https://in.nothing.tech/cdn/shop/files/Desktop-1_1292x.png?v=1688554252");
}
.section-3-left {
  background-image: url("https://in.nothing.tech/cdn/shop/files/hp-pc_1292x.jpg?v=1670318592");
}
.section-4-left {
  background-image: url("https://in.nothing.tech/cdn/shop/files/ear-stick-05_8479a094-c8f5-4df8-962e-0197a8e622ec_1292x.jpg?v=1667542791");
}
.section-5-left {
  background-image: url("https://in.nothing.tech/cdn/shop/files/android_14_2560x2040_26a22268-9b66-46a1-b336-34047b9d2f0f_1292x.jpg?v=1683650574");
}
.section-right-content h1 {
  font-size: 2.5em;
  margin: 0.6em 0;
}
.section-right-content button {
  /* width: 90%; */
  margin: 0 auto;
  padding: 1em;
  background-color: #2d2d73;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 2em;
  transition: all 1000s ease-in-out;
}
.section-right-content button:hover {
  padding: 1em 2em;
}
.blue-p {
  color: #2d2d73;
}
p.underlined {
  text-decoration: underline;
  margin: 1em 0;
}
.testimonials {
  padding: 5rem 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f4f2;
}
.testimonials div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  max-width: 30%;
}
.testimonials p {
  margin-top: 0.5em;
  font-size: 1.2em;
}
footer {
  background-color: #000;
  color: #fff;
  font-family: "PT Mono", monospace;
  padding: 2em 0;
}
footer .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
footer .container.container-top {
  padding: 2em 2em 7em;
}
footer .container ul li {
  margin-bottom: 0.5em;
}
div.mail {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 12px;
  width: 400px;
  margin-top: 1em;
}
div.mail span {
  font-size: 1.5em;
}
div.mail input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
}
div.mail input:placeholder-shown {
  color: #fff;
}
footer .container .links {
  display: flex;
}
footer .container .links li {
  margin-right: 1.5em;
}
footer .container .social-links {
  display: flex;
}
footer .container .social-links li {
  margin-right: 0.5em;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  color: #fff;
  text-decoration: underline;
}
